{%- macro styles() -%}
<!-- css for jquery datatables -->
<link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='datatables_full_viewport.css') }}">
{%- endmacro -%}

{% macro scripts(initialize=true, tableid='dtable') %}
<!-- libraries for jquery datatables -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<!-- set good defaults for datatables -->
<script>
    $.extend( $.fn.dataTable.defaults, {
        sDom: 'iftr',
        paging: false,
        scrollY: "100%",
        scrollCollapse: true,
        scrollX: true,
        fixedColumns: true,
        order: [],
    });
</script>
{%- if initialize %}
<script>
    document.querySelectorAll("table.datatable").forEach(table => {new DataTable(table);});
</script>
{% endif -%}
{% endmacro %}

{% macro render(headings, tableid="dtable") %}
<table id="{{ tableid }}" class="table table-hover table-bordered table-sm  nowrap datatable" width="100%">
    <thead class="table-light">
        <tr>{% for col in headings %}
            <th>{{ col }}</th>
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {{ caller() }}
    </tbody>
</table>
{% endmacro %}
