{% extends "versionbase.html" %}
{% from "forms.html" import formfield, formscripts, subdocform, dynamictable, modal with context %}

{%- set isnew = g.object.original_id is none -%}
{%- macro buttons() -%}
    <div class="d-flex justify-content-end">
        <button class="btn btn-success me-1" type="submit" form="mainform">Save</button>
        {%- if isnew %}
        <a class="btn btn-warning me-1" href="{{ request.url }}">Reset</a>
        <a class="btn btn-danger" href="{{ url_for('.overview') }}">Cancel</a>
        {%- else %}
        <a class="btn btn-warning me-1" href="{{ url_for('.edit', object=g.object) }}">Reload</a>
        <a class="btn btn-danger" href="{{ url_for('.view', object=g.object) }}">Cancel</a>
        {%- endif %}
    </div>
{%- endmacro -%}

{% block pageheader %}
<div class="col-5">
    <h2>{% if isnew %}New activated material{% else %}Editing activated material <span class="text-primary">{{ g.object.name }}</span>{% endif %}</h2>
</div>
<div class="col-7">
    {{ buttons() }}
</div>
{% endblock pageheader %}

{% block pagecontent %}
<p>Branch: {{ g.object.active_version }}</p>
{%- if not isnew %}
<p>Current revision: {{ g.object.revision }}</p>
<p>Last modified: {{ pretty_date(g.object.modified) }}{% if g.object.enteredby %} by <span id="enteredby">{{ g.object.enteredby }}</span>{% endif %}</p>
{%- endif %}
{%- if errors -%}
<div id="toperror" class="alert alert-danger">
    Errors found in form; please correct and resubmit.
    <ul class="mb-0">{% for name, message in errors.items() %}<li><strong>{{ name }}</strong>: {{ message }}</li>{% endfor %}</ul>
</div>
{%- endif -%}
<form method="POST" id="mainform">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row mb-3">
        <fieldset class="col-sm-12 col-md-6">
            <legend>Basic Info</legend>
            {%- for fieldname in ['name', 'material', 'description', 'comment'] -%}
            {{ formfield(g.object, fieldname) }}
            {%- endfor -%}
        </fieldset>
        <fieldset class="col-sm-12 col-md-6" id="publication_fields">
            <legend>Publication</legend>
            {{ subdocform(g.object, 'publication') }}
        </fieldset>
    </div>
    <fieldset class="row mb-3">
        <legend>Isotopes</legend>
        <p class="form-text">Production rates at sea level, e.g. in atoms/kg/day.</p>
        {{ dynamictable(g.object, 'isotopes') }}
    </fieldset>
    {{ buttons() }}
</form>
{{ modal() }}
{% endblock pagecontent %}

{% block pagescripts %}
{{ formscripts() }}
{% endblock pagescripts %}
