{% extends "versionbase.html" %}
{%- import "utils.html" as utils -%}

{% set activepage = activepage | default("summary") %}
{% block pageheader %}
<div class="col-5">
    <h2>Hit Efficiency <small class="text-secondary">{{ g.object.source }} - {{ g.object.location }}</small></h2>
</div>
<div class="col-7">
    <div class="nav nav-tabs justify-content-end">
        <a class="nav-link {% if activepage == 'summary' %}active{% endif %}" href="{{ url_for('.view', object=g.object) }}">Summary</a>
        <a class="nav-link {% if activepage == 'sourceterms' %}active{% endif %}" href="{{ url_for('.sourceterms', object=g.object) }}">Source Terms</a>
        <a class="nav-link" href="{{ url_for('.get_json', object=g.object) }}">Export</a>
        {% if can_edit %}<a class="btn btn-outline-danger me-1" id="deletelink" href="{{ url_for('.delete', object=g.object) }}">Delete</a>
        <a class="btn btn-success" href="{{ url_for('.edit', object=g.object) }}">Edit</a>{% endif %}
    </div>
</div>
{% endblock pageheader %}

{% block pagecontent %}
<div class="row mb-3">
    <div class="col-md-6 col-lg-4">
        <h2>Info</h2>
        {{ utils.print_document(g.object, g.object._fields_ordered | reject('in', ['scalars', 'spectra', 'rois', 'extra_metadata', 'scalars_keys', 'spectra_keys'])) }}
    </div>

    <div class="col-md-6 col-lg-4">
        {%- if g.object.scalars -%}
        <h3>Scalars</h3>
        <dl class="row">
            {%- for name, scalar in g.object.scalars.items() -%}
            <dt class="col-4">{{ name }}</dt>
            <dd class="col-8">{{ scalar | printquantity }}</dd>
            {%- endfor -%}
        </dl>
        {%- endif -%}
        {%- if g.object.rois -%}
        <h3>ROIs</h3>
        <dl class="row">
            {%- for name, scalar in g.object.rois.items() -%}
            <dt class="col-4">{{ name }}</dt>
            <dd class="col-8">{{ scalar | printquantity }}</dd>
            {%- endfor -%}
        </dl>
        {%- endif -%}
    </div>
    <div class="col-md-6 col-lg-4" id="spectra">
        <h3>Spectra</h3>
        <ul class="list-unstyled">
            {%- for name in g.object.spectra_keys %}
            <li class="spectrum">{{ name }}</li>
            {%- else %}
            <li class="text-secondary">No spectra</li>
            {%- endfor %}
        </ul>
        {%- if can_edit %}
        <p><a href="{{ url_for('.edit', object=g.object) }}#spectra">Import, rename or delete spectra</a></p>
        {%- endif %}
    </div>
</div>

{%- if g.object.spectra_keys %}
<div class="row mb-3">
    <div class="col">
        <h3>Spectrum plots</h3>
        <div id="spectrumplot" class="plotcontainer"></div>
    </div>
</div>
{%- endif %}

<div class="row mb-3">
    <div class="col">
        <h4>Other versions</h4>
        {{ utils.other_versions(g.object) }}
    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
{%- if g.object.spectra_keys and activepage == 'summary' %}
{{ utils.plotscripts() }}
<script>bgplots.spectrum('spectrumplot', {{ url_for('.spectra_json', object=g.object) | tojson }});</script>
{%- endif %}
{% endblock %}
