{% extends "view_component.html" %}
{% set activepage = "budget" %}
{% block title %}Budget: {{ g.object.name }} - Background Explorer{% endblock %}
{% block pagecontent %}
<p>Contributions to the background of {{ g.object.name }}
{%- if g.relativeto is defined %} as placed in {{ g.relativeto.name }}{% endif %},
grouped by source isotope, material and component. Measured values are shown
as red points with 1&sigma; errors, upper limits as blue arrows from the 90%
upper limit.</p>
{% if scalars %}
<div id="budgetplot" class="plotcontainer"></div>
{% else %}
<p class="text-secondary">There are no results to show in {{ g.active_version }}.</p>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{%- if scalars %}
{{ utils.plotscripts() }}
<script>bgplots.budget('budgetplot', {{ url_for('.budget_json', object=g.object, relativeto=g.get('relativeto')) | tojson }},
                       {{ ['isotope', 'material', 'component'] | tojson }}, {{ scalars | tojson }});</script>
{%- endif %}
{% endblock %}
