{%- import "datatable.html" as datatable -%}
{%- set embedded = request.args.embedded | default(false) -%}
{%- if not embedded -%}
{% extends "versionbase.html" %}

{% block pagestyle %}
{{ datatable.styles() }}
{% endblock %}

{% block pagescripts %}
{{ datatable.scripts() }}
{% endblock %}

{% block pageheader %}
<div class="col-5"><h1>Components</h1></div>
<div class="col-7 d-flex justify-content-end align-items-center">
    {%- if settings.editable %}
    <a class="btn btn-success me-1" id="newcomponent" href="{{ url_for('.edit') }}">New Component</a>
    <a class="btn btn-success me-1" id="newassembly" href="{{ url_for('.edit', type='assembly') }}">New Assembly</a>
    <a class="btn btn-outline-primary" id="import" href="{{ url_for('.import_') }}">Import</a>
    {%- endif %}
</div>
{% endblock %}
{%- endif -%}

{% macro part(component) %}
{{ component.purchaseinfo.vendor or '' }} {{ component.purchaseinfo.partnum or '' }}
{% if component.purchaseinfo.batch or component.purchaseinfo.material_batch %}
batch {{ component.purchaseinfo.batch or component.purchaseinfo.material_batch }}
{% endif %}
{% endmacro %}

{% block pagecontent %}
{% set headers = ['Name', 'Hierarchy', 'Description', 'Material',
                  'Mass (kg)', 'Part', 'Modified'] %}
{% call datatable.render(headers) %}
    {% for component in data %}
    <tr class="component{% if component.hierarchy_level is gt 1 %} assembly{% endif %}" data-id="{{ component.id }}" data-original_id="{{ component.original_id }}">
        <td><a href="{{ url_for('.view', object=component) }}">{{ component.name }}</a> </td>
        <td>{{ component.hierarchy_level }}</td>
        <td>{{ component.description or '' }}</td>
        <td>{{ component.material or '' }}</td>
        <td data-order="{{ '%.6e' | format(component.mass.to('kg').m) }}">{{ "{:.3g}".format(component.mass.to('kg').m) }}</td>
        <td>{{ part(component) }} </td>
        <td data-order="{{ component.modified.timestamp() }}">{{ pretty_date(component.modified) }}</td>
    </tr>
    {% endfor %}
{% endcall %}
{% endblock %}

