{% extends "versionbase.html" %}
{% import "datatable.html" as datatable %}

{% block pageheader %}
<div class="col-5"><h1>Hit Efficiencies</h1></div>
<div class="col-7 d-flex justify-content-end align-items-center">
    {%- if settings.editable %}
    <a class="btn btn-success me-1" id="newhiteff" href="{{ url_for('.edit') }}">New Hit Efficiency</a>
    <a class="btn btn-outline-primary" id="import" href="{{ url_for('.import_') }}">Import</a>
    {%- endif %}
</div>
{% endblock %}

{% block pagecontent %}
{% set headers = ['Source', 'Location', 'Nprimaries', 'Primary',
                  'Multiplier'] + settings.hiteffdbconfig.extra_columns %}
{% call datatable.render(headers) %}
    {% for hiteff in data %}
    <tr class="hiteff" data-id="{{ hiteff.id }}" data-original_id="{{ hiteff.original_id }}">
        <td><a href="{{ url_for('.view', object=hiteff) }}">{{ hiteff.source }}</a> </td>
        <td>{{ hiteff.location }}</td>
        <td>{{ hiteff.nprimaries or 'N/A' }}{% if hiteff.biasweight and hiteff.biasweight != 1 %} biasweight={{ "{:.2g}".format(hiteff.biasweight) }}{% endif %}</td>
        <td>{{ hiteff.primary_particle or '' }} {{ hiteff.primary_spectrum or '' }}</td>
        <td>{{ hiteff.norm.name }}</td>
        {% for col in settings.hiteffdbconfig.extra_columns %}
        <td>{{ hiteff[col] | default('') }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
{% endcall %}
{% endblock %}

{% block pagestyle %}
{{ datatable.styles() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ datatable.scripts() }}
{% endblock %}
