{%- import "datatable.html" as datatable -%}
{%- set embedded = request.args.embedded | default(false) -%}
{%- if not embedded -%}
{% extends "versionbase.html" %}

{% block pagestyle %}
{{ datatable.styles() }}
{% endblock %}

{% block pagescripts %}
{{ datatable.scripts() }}
{% endblock %}

{% block pageheader %}<h1>Radiation sources</h1>{% endblock %}
{%- endif -%}

{% block pagecontent %}
{% set sourcenames = all_source_names() %}
{% set headers = ['Name', 'Sample'] + sourcenames + ['Measurement', 'Reference', 'Modified'] %}

{% macro reference(spec) %}
<td {% if spec.publication.reference %}title="{{ spec.publication.reference }}"{% endif %}>
{{ spec.publication.org or '' }}
{% if spec.publication.url %}<a href="{{ spec.publication.url }}" target="_blank">{% endif %}
{{ spec.publication.shortlabel or spec.publication.url or '' }}
{% if spec.publication.url %}</a>{% endif %}
{% if spec.publication.details %}({{ spec.publication.details }}){% endif %}
</td>
{% endmacro %}

{% macro sample(spec) %}
{{ spec.sample.material or '' }}
{{ spec.sample.vendor or '' }} {{ spec.sample.partnum or '' }}
{%- if spec.sample.batch %} (batch {{ spec.sample.batch }}) {% endif %}
{% endmacro %}

{% macro measurement(spec) %}
{{ spec.measurement.institution or '' }} {{ spec.measurement.technique or '' }}
{% endmacro %}

{% macro sourcerate(spec, sourcename) %}
{% set source = spec.sourcemap.get(sourcename) %}
{% if source %}<td data-order="{{ source.rate | sourcesort }}"
                   class="emissionrate {% if source.generated_from %}autosource{% endif %}">
   {% if source.rate._fromstr %} {{ source.rate._fromstr }} {% else %} {{ "{:.2g~C}".format(source.rate) }} {% endif %}
{% else %}<td>{% endif %}</td>
{% endmacro %}


{% call datatable.render(headers) %}
    {% for spec in data %}
    <tr class="spec{% if spec.sample is defined %} assay{% endif %}" data-id="{{ spec.id }}" data-original_id="{{ spec.original_id }}">
        <td><a href="{{ url_for('.view', object=spec) }}">{{ spec.name }}</a> {{ spec.description or '' }} </td>
        <td>{{ sample(spec) }}</td>
        {% for sourcename in sourcenames %}
        {{ sourcerate(spec, sourcename) }}
        {% endfor %}
        <td>{{ measurement(spec) }}</td>
        {{ reference(spec) }}
        <td data-order="{{ spec.modified.timestamp() }}">{{ pretty_date(spec.modified) }}</td>
    </tr>
    {% endfor %}
{% endcall %}
{% endblock %}
