{%- import "datatable.html" as datatable -%}
{%- set embedded = request.args.embedded | default(false) -%}
{%- if not embedded -%}
{% extends "versionbase.html" %}

{% block pagestyle %}
{{ datatable.styles() }}
{% endblock %}

{% block pagescripts %}
{{ datatable.scripts() }}
{% endblock %}

{% block pageheader %}
<div class="col-5"><h1>Radiation sources</h1></div>
<div class="col-7 d-flex justify-content-end align-items-center">
    {%- if can_edit %}
    <a class="btn btn-success me-1" id="newemissionspec" href="{{ url_for('.edit') }}">New Emission Spec</a>
    {%- for subclass in doc_cls._subclasses[1:] %}
    {%- set typename = subclass.rsplit('.', 1)[-1] %}
    <a class="btn btn-success me-1" id="new{{ typename | lower }}" href="{{ url_for('.edit', type=typename | lower) }}">New {{ typename }}</a>
    {%- endfor %}
    <a class="btn btn-outline-primary" id="import" href="{{ url_for('.import_') }}">Import</a>
    {%- endif %}
</div>
{% endblock %}
{%- endif -%}

{% block pagecontent %}
{% set sourcenames = all_source_names() %}
{% set headers = ['Name', 'Sample'] + sourcenames + ['Measurement', 'Reference', 'Modified'] %}

{# publication, sample, and measurement are only defined for Assays #}
{% macro reference(spec) %}
{% if spec.publication %}
<td {% if spec.publication.reference %}title="{{ spec.publication.reference }}"{% endif %}>
{{ spec.publication.org or '' }}
{% if spec.publication.url %}<a href="{{ spec.publication.url }}" target="_blank">{% endif %}
{{ spec.publication.shortlabel or spec.publication.url or '' }}
{% if spec.publication.url %}</a>{% endif %}
{% if spec.publication.details %}({{ spec.publication.details }}){% endif %}
</td>
{% else %}<td></td>{% endif %}
{% endmacro %}

{% macro sample(spec) %}
{% if spec.sample %}
{{ spec.sample.material or '' }}
{{ spec.sample.vendor or '' }} {{ spec.sample.partnum or '' }}
{%- if spec.sample.batch %} (batch {{ spec.sample.batch }}) {% endif %}
{% endif %}
{% endmacro %}

{% macro measurement(spec) %}
{% if spec.measurement %}
{{ spec.measurement.institution or '' }} {{ spec.measurement.technique or '' }}
{% endif %}
{% endmacro %}

{% macro sourcerate(spec, sourcename) %}
{% set source = spec.sourcemap.get(sourcename) %}
{% if source %}<td data-order="{{ source.rate | sourcesort }}"
                   class="emissionrate {% if source.generated_from %}autosource{% endif %}">
   {% if get_fromstr(source.rate) %} {{ get_fromstr(source.rate) }} {% else %} {{ "{:.2g~C}".format(source.rate) }} {% endif %}
{% else %}<td>{% endif %}</td>
{% endmacro %}


{% call datatable.render(headers) %}
    {% for spec in data %}
    <tr class="spec{% if spec.sample is defined %} assay{% endif %}" data-id="{{ spec.id }}" data-original_id="{{ spec.original_id }}">
        <td><a href="{{ url_for('.view', object=spec) }}">{{ spec.name }}</a> {{ spec.description or '' }} </td>
        <td>{{ sample(spec) }}</td>
        {% for sourcename in sourcenames %}
        {{ sourcerate(spec, sourcename) }}
        {% endfor %}
        <td>{{ measurement(spec) }}</td>
        {{ reference(spec) }}
        <td data-order="{{ spec.modified.timestamp() }}">{{ pretty_date(spec.modified) }}</td>
    </tr>
    {% endfor %}
{% endcall %}
{% endblock %}
