/* html, body {height:98%} */
body {background-color: #D9EDF7}
nav.navbar { background-color: #FCF8E3; padding-top:2px; padding-bottom:2px}
nav a.navbar-brand {padding-top: 0px; padding-bottom: 0px}
nav img { max-height: 50px; }
#content {background-color: white; overflow:auto; height: calc(100vh - 78px);}
/* #pagecontent{ height: calc(100vh - 133px); overflow: auto; } */
#pagefooter {text-align:center; height:21px}
